<nav>
  <ul>
    <li><a sref="work">Work</a></li>
    <li><a sref="break">Break</a></li>
  </ul>
</nav>
<header>
  <h1>
    <timer interval="1000" countdown="1500" ng-init="stopTimer()">{{ minutes }}:{{ sseconds }}</timer>
  </h1>
  <div class="controls">
    <button ng-click="startTimer()">Start</button>
    <button ng-click="stopTimer()">Stop</button>
  </div>
</header>
<section>  
  <h1 class="main-title">KnockItOut</h1>
  <input type="text" placeholder="Task" ng-model="name" />
  <input type="text" placeholder="Description" ng-model="description" />
  <div class="controls">
    <button ng-click="post()">Post</button>
    <button ng-click="get()">Get</button>
    <button ng-click="delete()">Delete</button>
  </div>
</section>
<figure ng-repeat="task in tasks">
  <div class="task">{{ task.name }}</div>
  <div class="description">{{ task.description }}</div>
</figure>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>